<h2>contact us</h2>

<form action="/contactus" method="POST">
  <div>
    <label for="enquiry"> Enquiry</label>
    <input type="text" id="message" name="message" >
  </div>
  <button type ="submit"> Send </button>
</form>

<a href="/">home</a>

