<head>
  <link rel="stylesheet" href="./indexstyle.css" />
</head>



<div style="display: flex; background-color: DodgerBlue ">

  <h1 style=" background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px">Hi <%= name %></h1>

<a style=" background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px; " href="/">home</a>
  <a style=" background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px; " href="/contactus">contact us</a>

  <form action="/logout?_method=DELETE" method="POST">
    <button style=" background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px; " type="submit">Log Out</button>
  </form>
  
</div>

<p>
  welcome to homepage
</p>
